fastapi
uvicorn
spacy
python-docx
pdfplumber
PyPDF2
groq
python-dotenv
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
httpx
weasyprint
xhtml2pdf
pyjwt
python-multipart
rapidfuzz
jinja2
numpy
